{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
</head>

<body>
    <h1>Tela de Login</h1>
    <form action="{% url 'login:main' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Email ou Nome" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="{% url 'login:cadastrar' %}">Cadastre-se aqui</a></p>
</body>

</html>