{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/output.css' %}">
    <title>Tela de Login</title>
</head>

<body class="h-screen w-screen bg-slate-600 flex flex-col justify-center items-center gap-3">
    <h1 class="text-zinc-200">Tela de Login</h1>
    <form action="{% url 'login:main' %}" method="post" class="flex flex-col gap-3">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="p-2 rounded">
        <input type="password" name="password" placeholder="Senha" class="p-2 rounded">
        <button type="submit"
            class="p-2 bg-zinc-300 rounded hover:bg-zinc-700 hover:text-slate-100 transition-all">Entrar</button>
    </form>
    <p class="text-zinc-200">Não tem uma conta?
        <a href="{% url 'login:cadastrar' %}">Cadastre-se aqui</a>
    </p>
</body>

</html>