{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tela Principal</title>
</head>

<body>
    <h1>Tela do Home Page</h1>
    <aside>
        <ul>
            <li>
                <a href="{% url 'perfil:home' %}">
                    <button>Perfil</button>
                </a>
            </li>
            <li>
                <form action="{% url 'login:sair' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form>
            </li>
        </ul>
        <ul>

        </ul>
    </aside>
</body>

</html>